<div class="row"><div class="col-md-12">
    <h2>Declaración del formulario con ng-form</h2>
    <div ng-form name="westeros" novalidate class="ej1" class="form-horizontal">
        <p>
            Formulario declarado usando la directiva 
            <code>ng-form</code>, y con el nombre <code>westeros</code>.
        </p>
        <div class="form-group">
            <label 
            	for="casareinante" 
            	class="col-sm-3 control-label">
            	Casa reinante:
            </label>
            <div class="col-sm-9">
              <input 
                class="form-control" 
                id="casareinante" 
                ng-model="modelo.reinante" 
                placeholder="¿Quién reina en Westeros?"
                required>
            </div>
        </div>
    </div>
</div></div>


<div class="row"><div class="col-md-12">
    <h3>Estados del formulario "westeros":</h3>
    <table class="table table-bordered">
        <tr ng-class="{
            'success':westeros.$valid,
            'danger':!westeros.$valid
        }">
            <td>westeros.$valid</td>
            <td>ng-valid</td>
            <td>{{westeros.$valid}}</td>
        </tr>
        <tr ng-class="{
            'success':westeros.$invalid,
            'danger':!westeros.$invalid
        }">
            <td>westeros.$invalid</td>
            <td>ng-invalid</td>
            <td>{{westeros.$invalid}}</td>
        </tr>
        <tr ng-class="{
            'success':westeros.$pristine,
            'danger':!westeros.$pristine
        }">
            <td>westeros.$pristine</td>
            <td>ng-pristine</td>
            <td>{{westeros.$pristine}}</td>
        </tr>
        <tr ng-class="{
            'success':westeros.$dirty,
            'danger':!westeros.$dirty
        }">
            <td>westeros.$dirty</td>
            <td>ng-dirty</td>
            <td>{{westeros.$dirty}}</td>
        </tr>
    </table>
</div></div>