<div class="row">
  <div span="col-xs-12">
    <div ng-include="'views/ej4-template.html'"></div>
    <hr>
    <p>Para entenderlo, échale un vistazo también a los fuentes de AngularJS: 
    <a href="https://github.com/angular/angular.js/blob/master/src/ng/directive/form.js#L56">https://github.com/angular/angular.js/blob/master/src/ng/directive/form.js#L56</a></p>
    <h4>Directiva: scripts/directives/isolateform.js</h4>
    <div hljs include="'scripts/directives/isolateform.js'" language="javascript"></div>
    <h4>Plantilla</h4>
    <div hljs include="'views/ej4-template.html'"></div>
    
  </div>
</div>